<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cosmetics store</title>
  <link rel="icon" href="https://downloader.disk.yandex.ru/preview/6d9f2328d234691a64cc6b144756c06e61d0e8655fb5377b77bbb6c0fede3b7f/629a7c24/oveAGrdQE6NhI3BLOuStl6BtUjPQvI4yFN81_naUQvf710iB4A7JhhrB_jxAV_D8cYqzdjdRn8o-3e2YIUqvBg%3D%3D?uid=0&filename=lotos-preview.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1870x903">
  <style>
html {
    background-image: url(https://sun9-east.userapi.com/sun9-32/s/v1/ig2/aOGRrn8vToVzZqRqV2u5tveD2Kj-WHOFyTL9a-eAGSxL3-u-kaHss8b_S0KpJqMdU0TsmwDcWuSIaM6iqLNSY_gC.jpg?size=2560x1600&quality=95&type=album);
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 1100px;
  padding-left: 33%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #cafaf2;
  color: #ffb3db;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
  background-color: #212121;
}
  </style>
</head>

<body>
  <div class="container">
    <h1 align="center">Регистрация</h1>
    <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
    <hr>
    <form method="POST">

    <label for="Имя"><b>Имя</b></label>
    <input type="text" placeholder="Введите имя" name="Имя" required>

    <label for="Телефон"><b>Телефон</b></label>
    <input type="text" placeholder="Введите номер телефона" name="Телефон" required>

    <label for="Адрес"><b>Адрес</b></label>
    <input type="text" placeholder="Введите адрес проживания" name="Адрес" required>

    <label for="Логин"><b>E-mail</b></label>
    <input type="text" placeholder="Введите E-mail" name="Логин" required>

    <label for="Пароль"><b>Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="Пароль" required>

    <label for="psw-repeat"><b>Повторите пароль</b></label>
    <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
    <hr>

    <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </form>
  </div>

</body>

</html>